<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAf_aq3eJ0lesuDmFabauOl4iiR36S1B14</string>
	<key>GCM_SENDER_ID</key>
	<string>724745692589</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterMaps.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-maps-c9649</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-maps-c9649.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:724745692589:ios:050514c17f05935b8bad24</string>
</dict>
</plist>